body{
	background: #eef3f6;
}
body a:hover{
	text-decoration: none;
}

body a, .beledci.card a span, .beledci.card a .link-mig a div, .slide-foot .slide img,.menu-migra li, .menu-migra li a, .menu-mig .dropdown .dropdown-menu  .menu-mig .nav-link, .menu-mig .dropdown-menu .dropdown-item, .lang-mig .dropdown-menu a,
.well .card, .foregin-mig .card, .foregin-mig .card a, .accardion-mig .btn-link,
.accardion-mig .card:last-child .card-header, .accardion-mig .card:last-child .card-header button,
.news-mig .page-link, .news-mig .card .col-8 a{
	-webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
body a:hover, .beledci.card a:hover span, .beledci.card a:hover, .link-mig a div:hover, .menu-migra li:hover, .menu-migra li:hover a, .menu-mig .dropdown:hover .dropdown-menu , .slide-foot .slide img:hover, .menu-mig .nav-link:hover, .menu-mig .dropdown-menu .dropdown-item:hover,
.lang-mig .dropdown-menu a:hover, .well .card:hover, .foregin-mig .card:hover, .foregin-mig .card:hover a, .accardion-mig .btn-link:hover,
.accardion-mig .card:last-child .card-header:hover, .accardion-mig .card:last-child .card-header:hover button, .news-mig .page-link:hover,
.news-mig .card .col-8 a:hover{
	-webkit-animation: pulse 1s;
	animation: pulse 1s;
	-webkit-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-moz-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	-o-transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
	transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
}
.container{
	width: 1040px !important;
}
.well .card-body .col-3 img {
	width: 100%;
}
.in-page .well .card-body iframe {
	padding: 5px 8px 0 5px !important;
}
.ulu{
	background-image: url('../img/texture.png');
}
.ulu .col-6:first-child{
	padding-top: 8px;
}
.ulu .col-6:first-child img {
	width: 80%;
	padding-top: 5px;
}
.ulu p{
	padding-left: 25px;
	padding-top: 30px;
	margin-bottom: 8px;
	font-size: 12px;
	text-align: center;
	color: #1d1c1ade;
	font-style: italic;
}
.ulu h5{
	text-align: right;
	margin: 0 23px 0 0;
	font-size: 16px;
	font-style: italic;
	color: #000000c9;
}
.ulu .col-3 img{
	width: 100%;
}
#grad, #topx {
	background-image: linear-gradient(to right, #4681c5 , #1497c1d1 , #19b3e4d1 );
	padding: 3px;
}
.menu-migra li{
	margin-left: 8px;
	border: 1px solid #ffffff50;
	padding: 2px 5px;
}
.menu-migra li:hover, .menu-migra li:active {
	background: #fff;
}
.menu-migra li:hover a {
	color: #57a0ca !important;
}
.menu-mig a, .menu-migra li a{
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
.menu-mig .dropdown-menu{
	padding: 0;
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.menu-mig .dropdown:hover .dropdown-menu {
	display: block;
}
.menu-mig .nav-link:hover{
	color: #bdf8ff !important;
}
.menu-mig .dropdown-menu a{
	color: #000 !important;
	border-bottom: 1px solid #e9ecef;
	padding: 12px 40px;
	font-size: 12px;
}
.menu-mig .dropdown-menu .dropdown-item:hover{
	background: #fff;
	color: #4882c2 !important;
}

.form-mig input{
	background: #fff;
	border-radius: 3px;
	height: 30px;
	width: 30px !important;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;.
transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}
.form-mig input.form-control.mr-sm-2:focus, .form-mig input.form-control.mr-sm-2:active {
	width: 150px;
	background: #fff;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	-webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}
.form-mig input:active, .form-mig input:focus  {
	box-shadow: inherit !important;
	width: 130px!important;
}

.lang-mig a{
	color: #fff !important;
}
.lang-mig .dropdown-menu{
	padding: 5px 0;
	min-width: 0;
	border-radius: 0;
}
.lang-mig .dropdown-item{
	padding: 3px 12px;
}
.lang-mig .dropdown-menu a{
	color: #000 !important;
}
.lang-mig .dropdown-menu a:hover{
	color: #5f91d0 !important;
}
.dropdown-divider{
	margin: 0;
}
.menu-mig .dropdown-toggle::after{
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
}
.center{
	margin: 30px 0 60px;
}
.center #carouselExampleIndicators .carousel-caption {
	margin-bottom: 0;
	padding-bottom: 0;
	background: #0000004f;
	padding-left: 15px;
	padding-bottom: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: inherit;
}
.card {
	margin-bottom: 10px;
}
.card:last-child {
	margin-bottom: 0;
}
.well{
	background: #fff;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 15px 1px #80808080;
}
.well .card:nth-child(2) .card-body{
	padding: 3px;
}
.well .card:nth-child(2) img {
	width: 100%;
}
.well .card{
	border: 1px solid #65bde6;
}
.well .card:hover{
	border: 1px solid #fff;
	box-shadow: 0px 0px 10px 0px #80808080;
}
.well .card:first-child .col-9 a{
	top: 5px;
}
.well .card .col-9 a {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	position: absolute;
	top: 10px;
}
.well .card:hover .col-9 a{
	color: #58a4d9;
}
.well .card:last-child a {
	text-align: center;
	top: 4px;
	left: 3px;
	font-size: 13px;
}
.well .card-body {
	padding: 10px;
}
.foregin-mig{
	margin-top: 20px;
}
.foregin-mig .card {
	text-align: center;
	padding: 3px 5px;
	height: 122px;
	box-shadow: 0 15px 30px 0 #adacac33;
}
.foregin-mig .card h6 {
	font-size: 14px;
}
.foregin-mig .card:hover {
	box-shadow: 0 0 30px 1px #c3c3c3d1;
}
.foregin-mig .card img{
	margin-bottom: 15px;
}
.foregin-mig .card a{
	color: #000;
}
.foregin-mig .card:hover a {
	color: #58a4d9;
}
.foregin-mig .col-4 {
	margin-bottom: 20px;
}
::placeholder {
	color:#fff !important;
}
.accardion-mig{
	margin-top: 40px;
}
.accardion-mig .card:nth-child(3) ul i, .accardion-mig .card:nth-child(3) ul strong {
	color: red;
}
.accardion-mig .card:nth-child(3) ul p {
	font-size: 13px;
	margin: 10px 0 0;
}
.accardion-mig .btn-link:hover {
	text-decoration: none;
}
.accardion-mig .card-header {
	background-image: linear-gradient(to right, #19b3e4d1, #4681c5 , #4783c6 );
	padding: 3px;
}
.accardion-mig .card-header button {
	color: #fff;
	background-repeat: no-repeat;
	padding: 11px 0 11px 65px;
}
.accardion-mig .card:first-child .card-header button {
	background-image: url('../img/faydali.png');
}
.accardion-mig .card:nth-child(2) .card-header button {
	background-image: url('../img/vetendasliq.png');
}
.accardion-mig .card:nth-child(3) .card-header button {
	background-image: url('../img/elanlar.png');
}
.accardion-mig .card:nth-child(4) .card-header button {
	background-image: url('../img/kecidler.png');
}
.accardion-mig .card:last-child .card-header button {
	background-image: url('../img/map.png');
	color: #000;
	font-size: 14px;
	padding: 10px 80px;
}
.accardion-mig .card:last-child .card-header {
	padding: 5px 15px 5px 5px;
	background: #fff;
	border-left: 5px solid #4782c6;
}
.accardion-mig .card:last-child .card-header:hover {
	background: #4783c6;
}
.accardion-mig .card:last-child .card-header:hover button {
	color: #fff;
}
.accardion-mig .card-body {
	padding: 15px;
}
.accardion-mig .card-body ul{
	list-style: none;
	padding: 0;
}
.accardion-mig .card-body li {
	width: 100%;
	border-bottom: 1px solid #b7b7b787;
	padding: 10px 0;
}
.accardion-mig .card-body a {
	color: #000;
	font-size: 14px;
}
.accardion-mig .card-body a:hover {
	color: #58a4d9;
}
.title-mig {
	background: #fff;
	padding: 8px 8px 8px 50px;
	margin-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 15px 30px 0 #adacac33;
	background-image: url('../img/title-icon.png');
	background-repeat: no-repeat;
	background-position: 3% 50%;
}
.title-mig h6{
	margin-bottom: 0;
}
.news-mig {
	margin-top: 70px;
}
.news-mig .page-link:hover {
	background: inherit;
	border: inherit;
}
.news-mig .card img{
	width: 100%;
}
.news-mig .card.beledci {
	padding: 0;
	border: inherit;
}
.news-mig .card{
	padding: 10px;
	border: 0;
	box-shadow: 0 15px 30px 0 #adacac33;
}
.news-mig .card .col-8 {
	font-size: 13px;
}
.news-mig .card .col-8 a {
	font-size: 13px;
	color: #000;
	line-height: 0 !important;
	font-weight: 500;
}
.news-mig .card .col-8 a:hover {
	color: #58a4d9;
}
.news-mig .float-right {
	background-image: url('../img/clock.png');
	background-repeat: no-repeat;
	padding: 8px 20px;
	background-position: 0 55%;
	color: #ababab;
}
.news-mig .float-left {
	background-image: url(../img/date.png);
	background-repeat: no-repeat;
	padding: 6px 20px;
	background-position: 0 60%;
	color: #ababab;
}
.pagination-mig {
	background: #fff;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 15px 30px 0 #adacac33;
}
.pagination-mig ul{
	display: inline-flex;
	margin-bottom: 0;
	padding: 5px 0;
}
.pagination-mig .page-link {
	border: 0;
	color: #000;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 3px;
}
.link-mig a div {
	height: 100px;
	margin-bottom: 15px;
	border-radius: 3px;
	opacity: 1;
}
.link-mig a div:hover {
	box-shadow: 0 0 30px 3px #c3c3c3d1;
	opacity: 0.8;
}
.link-mig a:first-child div {
	background-image: url('../img/img-01.jpg');
	background-size: 225px;
	background-position: 0% 5%;
}
.link-mig a:nth-child(2) div {
	background-image: url('../img/img-02.jpg');
	background-size: 225px;
	background-position: 0% 20%;
}
.link-mig a:nth-child(3) div {
	background-image: url('../img/img-03.jpg');
	background-size: 220px;
}
.link-mig a:nth-child(4) div {
	background-image: url('../img/img-04.jpg');
	background-size: 205px;
	background-position: 0px 70%;
}
.link-mig a:nth-child(5) div {
	background-image: url('../img/gemiqaya.jpg');
	background-size: 230px;
	background-position: 0% 70%;
}
.link-mig a:last-child div {
	background-image: url('../img/ashabikahf.jpg');
	background-size: 220px;
	background-position: 0% 100%;
}
.link-mig img {
	width: 100%;
	box-shadow: 0 15px 30px 0 #adacac33;
	max-height: 130px;
}
.link-mig a:nth-child(3) span {
	top: 52px;
}
.link-mig span{
	display: block;
	position: relative;
	top: 71px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	background: #00000042;
	padding: 5px;
	background-image: url('../img/arrow-url.png');
	background-repeat: no-repeat;
	background-position: 95% 65%;
}
.slide-foot .container{
	padding: 30px 0;
}
.slide-foot {
	background: #fff;
	box-shadow: 0 -40px 60px 0 #adacac6b;
}
.partner {
	padding: 0 80px;
}
.partner ul {
	list-style: none;
	margin-bottom: 0;
}
footer{
	background: #124481;
	padding: 50px 0 30px;
}
footer ul{
	list-style: none;
}
footer li a, footer span, footer p {
	color: #fff;
	font-size: 13px;
}
footer li a:hover{
	color: #58a4d9;
}
footer p, footer span{
	margin-bottom: 5px;
}
footer span, footer h6 {
	color: #fff;
}
footer h6 {
	font-size: 15px;
	margin-bottom: 38px;
}
footer .table td {
	border-top: 0;
	border-bottom: 1px dotted #dee2e65c;
	color: #fff;
	font-size: 13px;
	padding: 2px 0;
}
footer .table tr:first-child td {
	padding-top: 0;
}
footer .table td:last-child {
	text-align: right;
}
.slide-foot .slide ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-inline-box !important;
}
.slide-foot .slide img {
	width: 92% !important;
	opacity: 0.7;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
.slide-foot .slide img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}
/* carousel */
.media-carousel
{
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
	margin-top: 30px;
}
.media-carousel .carousel-control.left
{
	left: -12px;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width : 40px;
	margin-top: 30px
}
.media-carousel .carousel-control.right
{
	right: -12px !important;
	background-image: none;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	height: 40px;
	width : 40px;
	margin-top: 30px
}
.media-carousel .carousel-indicators
{
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
.media-carousel .carousel-indicators li
{
	background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
	background: #333333;
}
.media-carousel img
{
	width: 250px;
	height: 100px
}
/* In Page */
.in-page .news-mig {
	margin-top: 20px;
}
.in-mig {
	padding: 5px 10px;
	background: #fff;
	border: 1px solid #f5f5f5;
	border-radius: 3px;
	box-shadow: 0px 0px 15px 1px #adacac75;
}
.in-mig .breadcrumb {
	background: #f5f5f5;
	padding: 5px 10px;
}
.in-mig .breadcrumb-item a {
	font-size: 13px;
	color: #4885c6;
	font-weight: 500;
}
.in-mig .breadcrumb-item span {
	font-size: 14px;
}
.in-mig nav {
	margin-bottom: 30px;
}
.in-mig center {
	padding: 0 0 30px 0;
}
.in-mig p{
	font-size: 13px;
}
.in-mig .table-hover tr td {
	font-size: 12px;
}
.in-mig .table-hover tr .active{
	background: #f1f1f1;
}
.qanun .table-hover tr td:first-child {
	background: url(../img/gerb.png) no-repeat 0% 50%;
	background-size: 25px;
	padding-left: 35px;
}
.news .card {
	background: #f5f5f5;
	border-bottom: 1px solid #dadada;
	box-shadow: none;
}
.news .card:hover{
	background: #66bfe873;
}
.sual .card {
	border-bottom: 0;
	margin-bottom: 0;
	padding: 5px 0;
}
.in-mig .pagination-mig {
	box-shadow: none;
}
.in-mig h6{
	margin-top: 15px;
}
.in-mig h6+p, .in-mig p+p {
	font-size: 13px;
}
.in-mig .carousel {
	margin-bottom: 20px;
}
.beledci.card a {
	position: relative;
	display: block;
	padding: 8px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
	color: #000;
	font-size: 11px;
}
.beledci.card span {
	font-size: 8px;
	padding: 1px 4px;
	margin-top: 1px;
	background: #4783c5;
	border-color: #4885c6;
}
.beledci.card a:hover  {
	background: #65bde51c;
}
.beledci.card a:hover span  {
	background: #65bde5;
	border-color: #64bce4;
}
.beledci.card {
	border: inherit;
}
.beledci.card i{
	margin-right: 5px;
}
.rusum .alert{
	font-size: 12px;
}
.rusum tr {
	font-size: 12px;
}
.sual .card {
	padding: 0;
}
.sual .card-header {
	padding: 0;
}
.sual .accordion .btn {
	white-space: normal;
	font-size: 14px;
	text-align: left;
	color: #000;
}
.sual .accordion th {
	font-size: 12px;
}
.sual .accordion td {
	font-size: 12px;
}
.sual .accordion .btn:hover {
	color: #4886c6;
	text-decoration: inherit;
}
.accor
.hesabla .row .custom-select, .hesabla .row .form-control {
	font-size: 14px;
	height: 30px;
	padding: 0 10px;
}
.hesabla .row .col-6:last-child {
	text-align: right;
}
.hesabla .row .col-6 button {
	padding: 4px 10px;
	font-size: 12px;
}
.hesabla .alert img {
	width: 20px;
}
.hesabla .alert {
	font-size: 13px;
}
.hesabla .alert a {
	color: red;
}
.qebul th {
	font-size: 12px;
}
.qebul td {
	font-size: 13px;
}
.qebul {
	margin-bottom: 50px;
}
.mektub {
	background: #dbe4e5;
	padding: 15px 45px;
}
.mektub label {
	font-size: 12px;
}
.mektub select, .mektub input {
	height: 32px;
	padding: 0 15px;
	font-size: 12px;
}
.mektub button {
	font-size: 13px;
}
.mektub .font-weight-bold {
	margin-top: 30px;
	color: red;
}
.tap .alert {
	font-size: 13px;
}
.foto .col-4 img{
	width: 100%;
	border-radius: 3px;
}
.foto hr {
	margin: 10px 0;
}
.foto .col-4{
	margin-bottom: 20px;
}
.foto .col-4 span {
	background: url(../img/date.png) no-repeat;
	font-size: 12px;
	padding-left: 20px;
	color: #999;
}
.foto .col-4 p {
	font-size: 13px;
	color: #000;
}
.novbe .fa-calendar {
	font-size: 20px;
	color: cornflowerblue;
	padding-top: 5px;
	padding-right: 5px;
}
.novbe form input, .novbe form select {
	height: 32px;
}
.novbe form select {
	font-size: 13px;
	padding: 0 8px;
}
.novbe form label {
	font-size: 14px;
}
.novbe form {
	background: #f5f5f5;
	padding: 8px 16px;
}
.novbe .col-12:last-child{
	text-align: right;
}
.novbe button {
	background: #64bce4;
	border-color: #64bbe3;
	padding: 3px 20px;
	font-size: 14px;
}
.karabag .col-4 strong{
	font-size: 13px;
}
.foto-ic .navbar {
	list-style: none;
	padding: 0;
}
.foto-ic .navbar li {
	float: left;
	margin-bottom: 8px;
}
.foto-ic .navbar li img {
	width: 170px;
}
.foto-ic .breadcrumb-item:nth-child(3) span{
	background: url(../img/date.png) no-repeat 0 50%;
	display: inline-block;
	padding: 0 0 0 20px;
}
.foto-ic .breadcrumb-item:last-child span{
	background: url(../img/clock.png) no-repeat 0 50%;
	display: inline-block;
	padding: 0 0 0 20px;
}